.side-list:hover {
    background: gray !important;
    color: white !important;
    padding-left: 5px !important; 
    transition: all 100ms ease;
    
}
 /* a.side-list:hover {
    color: white !important;
    padding-left: 5px !important; 
    transition: all 100ms ease;

} */
/* .side-list.active {
    background: black !important
} */
.link {
    color: white !important;
}